<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>BYOP</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="/stylesheets/combobox.css"/>
    <script src="/javascripts/vendor/paper-full.min.js" defer></script>
    <script>
        window.addEventListener("load", (e=> {
            const refs = [...document.querySelectorAll(`[data-initially-hidden]`)];
            refs.forEach(e=>e.toggleAttribute("data-initially-hidden", false))
        }));
    </script>
</head>
<body>
    {{{body}}}
</body>
</html>