# port to serve on
PORT=3000

# path of database file
SQLITE_FILE=byop.db

# secret used to sign session cookies. This should be a base64 encoding of at least 32 random characters.
SESSION_SECRET=eFJmHdemz8q82dVjRNfQLYEkrqUJtaWcEdmgd3qF5VU=
# If the secret is rolled, the old one should be provided here for old session to continue to work
#OLD_SESSION_SECRET=MzJ198iUEKyOpRX+XboBYoyNzJ3xK6q0FkS0+dQJJAc=

# WiFi credentials to provision on a device over USB
WIFI_SSID=MyHotspot
WIFI_PASSWORD=SecretPassword

# For a static-sized field, speciFy the coordinates.
# If omitted, the field will grow to cover all the registered devices
FIELD_MIN_X=0
FIELD_MAX_X=1000
FIELD_MIN_Y=0
FIELD_MAX_Y=1000

# Calculations are done on the abstract "coordinates" but, for a fixed-field,
# these can correspond to real-world lat-lon.
# This is particularly useful for dynamic/moving clients.
# NB. These defaults are for EMF in Eastnor
FIELD_MIN_LAT=52.038277
FIELD_MAX_LON=-2.380634
FIELD_MIN_LAT=52.044044
FIELD_MAX_LON=-2.372536

# Load some demo data if we don't have anything in the DB yet.
LOAD_DEMO_DATA=true