# port to serve on
PORT=3000

# path of database file
SQLITE_FILE=byop.db

# WiFi credentials to provision on a device over USB
WIFI_SSID=MyHotspot
WIFI_PASSWORD=SecretPassword

# For a static-sized field, specidy the coordinates.
# If omitted, the field will grow to cover all the registered devices
FIELD_MIN_X=0
FIELD_MAX_X=1000
FIELD_MIN_Y=0
FIELD_MAX_Y=1000

# Load some demo data if we don't have anything in the DB yet.
LOAD_DEMO_DATA=true